h1 {
  text-align: center;
}

.index-contents {
  text-align: center;
}

.author-introduction-text-label {
  font-weight: bold;
}

.author-introduction-logo {
  border-radius: 50%;
  border: 3px solid #dfdddd;
  width: 150px;
  height: auto;
}

.blog-description {
  width: 60%;
  margin: 0 auto;
}