---
import '../styles/side-menu.css';
---
<div id="side-menu">
  <div class="side-menu-author">
    <h3>About author</h3>
    <img class="side-menu-author-icon" src="/favicon.png"
    <div class="side-menu-author-text"></div>
    <p>経歴：兵庫県出身 25歳 文系出身エンジニア <br> 現在はSIerにてwebサイトの運用保守チームのPL</p>
    <p>技術：Laravel、PHP、、Go、Python、javascript、AWS、jquery、astro</p>
    <p>趣味：スカッシュ、バイク、一人飲み</p>
    <p><a href="https://github.com/masa-4">Github</a></p>
  </div>
  <ul>
    <li>link1</li>
  </ul>
</div>